.tab {
  display: flex;
  padding: 10px 25px;
  flex-direction: column;
  align-items: center;
  transition: border 0.3s;
  cursor: pointer;
  border: 5px solid transparent;
}

.tab:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border: 5px solid rgb(2, 162, 255);
}

.tab.active {
  border: 5px solid rgb(2, 162, 255);
  background: #fffdf7;
}

.tab .icon-container .icon {
  width: 100px;
  height: 100px;
}

.tab .degree {
  text-wrap: nowrap;
}

.tab .icon-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tab .icon-container .icon img {
  width: 100%;
}
